img {
  width: 250px;
  border-radius: 50px;
  float: right;
  margin-right: 10px;
  position: absolute;
  right: 5px;
  bottom: 5px;

}

body {
  background-color: yellowgreen;
}


div.registration {
  background-color: yellowgreen;
  background: 0;
  color: black;
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: large;
}

div.Überschrift {
  background-color: yellowgreen;
  color: white;
  font-size: 1cm;
  line-height: 0.2cm;

}

@font-face {
  font-family: 'Amiko';
  font-style: normal;
  font-weight: 500;
  

  src: local(''),
       url('C:\Users\leobi\Desktop\Fonts\amiko-v10-latin-regular.woff') format('woff2'), 
       url('C:\Users\leobi\Desktop\Fonts\amiko-v10-latin-regular.woff') format('woff'); 
      }

 
 
div.Text {
  font-family: 'Amiko' ;
  font-size: 1cm;
  line-height: 0.4cm;
  font-weight:400;
  
}

p{
  font-style: oblique;
}


 #Sprache{
  position: absolute;
  bottom: 0.5cm;
  left: 0.15cm;
  line-height:0.1cm;
  font-size: large;
 }
p.WorkInProgress{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2cm;
  font-variant-position: normal;
  font-style:normal
  border: 1cm;
  border-color: red;
  color: rgb(255, 0, 0);
  border: 30px solid green;
  padding: 25px;
  margin: 150px;
  text-align: center;
}


#Registration{
  font-size: 100%;
  align-self: center;

}
@keyframes pulse {
  20% {
    padding: 7px;
    background-color: rgb(94, 255, 0);
  }
}
#Admin {
  
  border: 3px solid black;
  width: fit-content;
  background-color: rgb(255, 0, 0);
  padding: 3px;
  animation: pulse 1.5s;
  animation-iteration-count: infinite;
  align-items: center;
}
#Admin:hover{
 outline: dotted red 50%; 

}
h3.language{
  font-size: medium;
}
label.language{
  font-size: medium;
  font-weight: bolder;
  font-style: oblique;
}
div.Überschrift:hover{
color: black;

}
div.Überschrift:checked{
src: url("hhtps://stackoverflow.com");
}
